
@font-face
{
    font-family:"Avenir-Book";
    font-weight:normal;
    font-style:normal;
    src:url("/assets/font/AvenirLTPro-Roman") format("woff2");
}

body {background-image:url(/assets/image/background); margin: 0 auto}

.hide {display:none}

#displaytext {
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    position: absolute;
    height: fit-content;
}

#footer {
    position: absolute;
    bottom:0;
    left:0;
    max-width: 100%;
    vertical-align: middle;
    z-index: 0;
}

#header {
    position: absolute;
    top:0;
    left:0;
    max-width: 100%;
    vertical-align: middle;
    z-index: 0;
}

