{{!< layouts/site }}

<div id= "content">
<div id="events" class = "hide">
</div>

<script>

(function() {
"use strict";

window.render = async function()
{
    // const dataInputRaw = await fetch('data/key').then(response => response.json());

    setTimeout(window.render, 30000);
}

render();

M.notifier.addEventListener('reload', function(e)
{
    window.render();
});

})();
</script>
