{{ errors | safe }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/eegplayback.css') }}">
<h1>EEG Results</h1>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js'></script>
  </head>
<style>
  .center { margin: 0 auto; width: 400px; }
</style>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <div style="width: 80%; margin: auto">
      <br>
      <div width="1400" height="600">
      <canvas id="eeg" width="1400" height="600"></canvas>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the context of the canvas element we want to select
  var rawEEGData = JSON.parse('{{ eeg_data|safe }}');
  var i = 0;
  var scatterOptions = {
    responsive: false,
    showLine: true,
    scales: {
      y : {
              max : 1.5,    
              min : -1.5,
              title: {
                display: true,
                text: 'Valence'
              }
      },
      x : {
              max : 61,    
              min : -.5,
              title: {
                display: true,
                text: 'Time'
              }
      }
    },
    plugins: {
      legend: {
          display: true,
      }
    }
  };
  const datascatter = {
    labels: ["High Arousal", "Low Arousal"],
    datasets: [{
      label: "High Arousal",
      data: [
        {
          x:0,
          y:0
        }
      ],
      backgroundColor: ["rgb(255, 0, 0)"],
      pointRadius: 5,
    }, {
      label: "Low Arousal",
      data: [
        {
          x:0,
          y:0
        }
      ],
      backgroundColor: ["rgb(0, 128, 0)"],
      pointRadius: 5,
    }],
  };

  for (const [key, value] of Object.entries(rawEEGData.data)) {
    out = 0
    if (value == 0 || value== 1) {
      out = -1
    }
    if (value == 2 || value == 3) {
      out = 1
    }

    datascatter.datasets[0].data.push({x: parseFloat(key) + 1, y: out})

    if (value == 0 || value == 2) {
      datascatter.datasets[0].backgroundColor.push("rgb(255, 0, 0)")
    }
    if (value == 1 || value == 3) {
      datascatter.datasets[0].backgroundColor.push("rgb(0, 128, 0)")
    }
  }

  var eegChartSource= document.getElementById("eeg").getContext("2d");
  var eegChart = new Chart(eegChartSource, {
  type:'scatter', 
  data: datascatter,
  options: scatterOptions
  });

    eegChart.update();
</script>
</body>
</html>