{{ errors | safe }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/eegplayback.css') }}">
<h1>EEG Results</h1>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js'></script>
  </head>
<style>
  .center { margin: 0 auto; width: 400px; }
</style>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <div style="width: 100%; margin: auto; height:fit-content">
      <br>
      <canvas id="eeg" width="1000" height="400" style="display: flex; margin:auto"></canvas>
      <br>
      <canvas id="eegArousal" width="1000" height="200" style="display: flex; margin:auto"></canvas>
      <br>
      <canvas id="eegValence" width="1000" height="200" style="display: flex; margin:auto"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the context of the canvas element we want to select
  var rawEEGData = JSON.parse('{{ eeg_data|safe }}');
  var rawPowerData = JSON.parse('{{ eeg_power_data|safe }}');
  var i = 0;
  var scatterPowerOptions = {
    responsive: false,
    showLine: true,
    scales: {
      y : {
              min : 0,
              title: {
                display: true,
                text: 'Relative Power'
              }
      },
      x : {
              max : 60,    
              min : 0,
              title: {
                display: true,
                text: 'Time'
              }
      }
    },
    plugins: {
      legend: {
          display: true,
      }
    }
  };
  const dataPowerscatter = {
    datasets: [{
      type: "bubble",
      backgroundColor: 'rgb(255, 0, 0)',
      pointRadius: 5,
      label: "Theta (4-8 Hz)",
      data: [ {
      }
      ],
    }, {
      type: "bubble",
      backgroundColor: 'rgb(0, 255, 0)',
      pointRadius: 5,
      label: "Alpha (8-14 Hz)",
      data: [ {
      }],
    }, {
      type: "bubble",
      backgroundColor: 'rgb(0, 0, 255)',
      pointRadius: 5,
      label: "Beta (14-35 Hz)",
      data: [ {
      }],
    }, {
      type: "bubble",
      backgroundColor: 'rgb(0, 255, 255)',
      pointRadius: 5,
      label: "Gamma (35-45 Hz)",
      data: [ {
      }],
    },
  ],
  };

  var channel = parseInt("{{power_channel}}");
  for (const [key, value] of Object.entries(rawPowerData.data)) {
    time = key;
    var vals = Object.values(value)[channel];

    dataPowerscatter.datasets[0].data.push({x: parseFloat(time), y: parseFloat(vals.theta)});
    dataPowerscatter.datasets[1].data.push({x: parseFloat(time), y: parseFloat(vals.alpha)});
    dataPowerscatter.datasets[2].data.push({x: parseFloat(time), y: parseFloat(vals.beta)});
    dataPowerscatter.datasets[3].data.push({x: parseFloat(time), y: parseFloat(vals.gamma)});
  }
  var eegChartSource= document.getElementById("eeg").getContext("2d");
  var eegChart = new Chart(eegChartSource, {
    data: dataPowerscatter,
    options: scatterPowerOptions
  });

  var scatterArousalOptions = {
    responsive: false,
    showLine: true,
    scales: {
      y : {
              max : 1.5,    
              min : -1.5,
              title: {
                display: true,
                text: 'Arousal'
              }
      },
      x : {
              max : 60,    
              min : 0,
              title: {
                display: true,
                text: 'Time'
              }
      }
    },
    plugins: {
      legend: {
          display: true,
      }
    }
  };
  const dataArousalscatter = {
    datasets: [{
      type: "bubble",
      backgroundColor: 'rgb(0, 255, 255)',
      pointRadius: 5,
      label: "Arousal",
      data: []}]
  };

  for (const [key, value] of Object.entries(rawEEGData.data)) {
    time = key;
    var vals = Object.values(value)[channel];
    var out = 0;
    if (value == 0 || value== 2) {
      out = -1;
    }
    else {
      out = 1;
    }
    dataArousalscatter.datasets[0].data.push({x: parseFloat(time), y: out});
  }

  var eegArousalChartSource= document.getElementById("eegArousal").getContext("2d");
  var eegArousalChart = new Chart(eegArousalChartSource, {
    data: dataArousalscatter,
    options: scatterArousalOptions
  });

  var scatterValenceOptions = {
    responsive: false,
    showLine: true,
    scales: {
      y : {
              max : 1.5,    
              min : -1.5,
              title: {
                display: true,
                text: 'Valence'
              }
      },
      x : {
              max : 60,    
              min : 0,
              title: {
                display: true,
                text: 'Time'
              }
      }
    },
    plugins: {
      legend: {
          display: true,
      }
    }
  };
  const dataValencescatter = {
    datasets: [{
      type: "bubble",
      backgroundColor: 'rgb(255, 0, 0)',
      pointRadius: 5,
      label: "Valence",
      data: []}]
  };

  for (const [key, value] of Object.entries(rawEEGData.data)) {
    time = key;
    var vals = Object.values(value)[channel];
    var out = 0;
    if (value == 0 || value== 1) {
      out = -1;
    }
    else {
      out = 1;
    }
    dataValencescatter.datasets[0].data.push({x: parseFloat(time), y: out});
  }

  var eegValenceChartSource= document.getElementById("eegValence").getContext("2d");
  var eegValenceChart = new Chart(eegValenceChartSource, {
    data: dataValencescatter,
    options: scatterValenceOptions
  });
  
  
  eegChart.update();
  eegArousalChart.update();
  eegValenceChart.update();
</script>
</body>
</html>