<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<h1>EEG and CV Emotion Classification</h1>

<div style="width: 60%; margin: auto; height: 50%">
<div style="float: left; width:30%">
  <h2>Status</h2>
  <ul>
    {% if eeg_valid %}
    <li class="status-yes status">EEG File Uploaded</li>
    {% else %}
    <li class="status-no status">EEG File Not Uploaded</li>
    {%  endif %}
    {% if cv_valid %}
    <li class="status-yes status">CV File Uploaded</li>
    {% else %}
    <li class="status-no status">CV File Not Uploaded</li>
    {%  endif %}
  </ul>
</div>
<div style="float: left; width: 40%">
  <h2>Upload Files</h2>
  <form action="/" method="POST" enctype="multipart/form-data">
    <div class="input-file-container">  
      <input class="input-file" id="my-file" type="file" name="file">
      <label tabindex="0" for="my-file" class="input-file-trigger">File Name...</label>
      <p class="file-return"></p>
      <input type="submit" id="my-submit" hidden>
      <div></div>
      <label tabindex="0" for="my-submit" class="submit-file-trigger">Submit File</label>
    </div>
  </form>
  <form method="get" action="/run">
    <button type="submit">Run Models</button>
  </form>
</div>
<div style="float:left; width:30%" class="well">
  <h2>Parameters</h2>
  <form action="/set_parameter" method="post">
    <div class="form-group">
      <label for="firstname">Model Frequency</label>
      <input class="form-control" type="text" name="output_frequency" placeholder="Enter Frequency (Hz)">
    </div>
    <div class="form-group">
      <label for="eeg-model">EEG Model</label>
      <select class="form-control" type="text" name="eeg-model">
        <option value="defaulteeg">Default</option>
        <option value="random">Random</option>
        <option value="random">???</option>
      </select>
    </div>
    <div class="form-group">
      <label for="cv-model">CV Model</label>
      <select class="form-control" type="text" name="cv-model">
        <option value="defaultcv">Default</option>
        <option value="random">Random</option>
        <option value="random">???</option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
</div>
<script>
  document.querySelector("html").classList.add('js');

var fileInput  = document.querySelector( ".input-file" ),  
    button     = document.querySelector( ".input-file-trigger" ),
    the_return = document.querySelector(".file-return");
      
button.addEventListener( "keydown", function( event ) {  
    if ( event.keyCode == 13 || event.keyCode == 32 ) {  
        fileInput.focus();  
    }  
});
button.addEventListener( "click", function( event ) {
   fileInput.focus();
   return false;
});  
fileInput.addEventListener( "change", function( event ) {  
    the_return.innerHTML = this.value;  
});  
</script>