<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<h1>EEG and CV Emotion Classification</h1>
<h2>Please upload your files</h2>

<ul>
  {% if eeg_valid ==  "True" %}
  <li class="status-yes">EEG File Uploaded</li>
  {% else %}
  <li class="status-no">EEG File Not Uploaded</li>
  {%  endif %}
  {% if cv_valid ==  "True" %}
  <li class="status-yes">CV File Uploaded</li>
  {% else %}
  <li class="status-no">CV File Not Uploaded</li>
  {%  endif %}
</ul>

<form action="/" method="POST" enctype="multipart/form-data">
  <div class="input-file-container">  
    <input class="input-file" id="my-file" type="file" name="file">
    <label tabindex="0" for="my-file" class="input-file-trigger">File Name...</label>
    <p class="file-return"></p>
    <input type="submit" id="my-submit" hidden>
    <div></div>
    <label tabindex="0" for="my-submit" class="submit-file-trigger">Submit File</label>

  </div>

</form>
<form method="get" action="/run">
  <button type="submit">Run Models</button>
</form>
<script>
  document.querySelector("html").classList.add('js');

var fileInput  = document.querySelector( ".input-file" ),  
    button     = document.querySelector( ".input-file-trigger" ),
    the_return = document.querySelector(".file-return");
      
button.addEventListener( "keydown", function( event ) {  
    if ( event.keyCode == 13 || event.keyCode == 32 ) {  
        fileInput.focus();  
    }  
});
button.addEventListener( "click", function( event ) {
   fileInput.focus();
   return false;
});  
fileInput.addEventListener( "change", function( event ) {  
    the_return.innerHTML = this.value;  
});  
</script>