{{ errors | safe }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js'></script>
  </head>
<style>
  .center { margin: 0 auto; width: 400px; }
</style>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <div style="width: 80%; margin: auto">
      <div style="text-align: center">
        <video width="800" height ="400" autoplay muted>
          <source src="{{ video_path }}" type="video/mp4">
        </video>
      </div>

      <br>
      <div width="400" height="300" style="float: left">
      <canvas id="eeg" width="600" height="400"></canvas>
      </div>
      <div width="400" height="300" style="float: right">
      <canvas id="cv" width="600" height="400"></canvas>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the context of the canvas element we want to select
  var rawEEGData = JSON.parse('{{ eeg_data|safe }}');
  var rawCVData = JSON.parse('{{ cv_data|safe }}');
  eegData = Object.values(rawEEGData.data)
  cvData = Object.values(rawCVData.data)
  var i = 0;
  var scatterOptions = {
    responsive: false,
    showLine: true,
    scales: {
      y : {
              max : 1.5,    
              min : -1.5,
              title: {
                display: true,
                text: 'Arousal'
              }
      },
      x : {
              max : 1.5,    
              min : -1.5,
              title: {
                display: true,
                text: 'Valence'
              }
      }
    },
    plugins: {
      legend : {
        display : false
      }
    }
  };
  const datascatter = {
  datasets: [{
    data: [{
      x: 0,
      y: 0
    }],
    backgroundColor: 'rgb(255, 99, 132)'
  }],
};

  var eegChartSource= document.getElementById("eeg").getContext("2d");
  var eegChart = new Chart(eegChartSource, {
  type:'scatter', 
  data: datascatter,
  options: scatterOptions
  });
  var cvChartSource= document.getElementById("cv").getContext("2d");
  const datacv = {
    labels: ["Anger", "Disgust", "Fear", "Happy", "Sad", "Surprise", "Neutral"],
    datasets: [{
      data: [.5,.5,.5,.5,.5,.5,.5]}],
      backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderWidth: 1
  };
  var cvChart = new Chart(cvChartSource, {
  type:'bar', 
  data: datacv,
  options: {
    responsive: true,
    scales: {
      y: {
        max: 1.0,
        beginAtZero: true
      }
    }
  },
  plugins: {
      legend : {
        display : false
      }
    }
  });

  setInterval( function() {
    if (i < eegData.length) {
      let curEEG = eegData[i];
      if (curEEG == 0) {
        eegChart.data.datasets[0].data[0].x = .8;
        eegChart.data.datasets[0].data[0].y = .8;
      }
      if (curEEG == 1) {
        eegChart.data.datasets[0].data[0].x = -.8;
        eegChart.data.datasets[0].data[0].y = .8;
      }
      if (curEEG == 2) {
        eegChart.data.datasets[0].data[0].x = -.8;
        eegChart.data.datasets[0].data[0].y = -.8;
      }
      if (curEEG == 3) {
        eegChart.data.datasets[0].data[0].x = .8;
        eegChart.data.datasets[0].data[0].y = -.8;
      }
      cvChart.data.datasets[0].data = Object.values(cvData[i]);
    }
    i++;


    eegChart.update();
    cvChart.update();
  }, 1000);
</script>
</body>
</html>