<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js'></script>
  </head>
    
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
      <div style="width: 80%; margin: auto">

      <iframe src="{{ video_path }}" width="853" height="480" frameborder="0" style="display: inline-block" allowfullscreen></iframe>
      <br>
      <div width="400" height="300" style="float: left">
      <canvas id="eeg" width="600" height="400"></canvas>
      </div>
      <div width="400" height="300" style="float: right">
      <canvas id="cv" width="600" height="400"></canvas>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the context of the canvas element we want to select
  var i = 1;
  var standardOptions = {
    responsive: false,
    showLine: true,
    scales: {
      y : {
              max : 1.5,    
              min : -1.5,
              title: {
                display: true,
                text: 'Arousal'
              }
      },
      x : {
              max : 1.5,    
              min : -1.5,
              title: {
                display: true,
                text: 'Valence'
              }
      }
    },
    plugins: {
      legend : {
        display : false
      }
    }
  };
  const datascatter = {
  datasets: [{
    data: [{
      x: -1,
      y: 0
    }],
    backgroundColor: 'rgb(255, 99, 132)'
  }],
};

  var eegChartSource= document.getElementById("eeg").getContext("2d");
  var eegChart = new Chart(eegChartSource, {
  type:'scatter', 
  data: datascatter,
  options: standardOptions
  });
  var cvChartSource= document.getElementById("cv").getContext("2d");

  var cvChart = new Chart(cvChartSource, {
  type:'scatter', 
  data: datascatter,
  options: standardOptions
  });

  setInterval( function() {
    cvChart.data.datasets[0].data[0].x = Math.random();
    cvChart.data.datasets[0].data[0].y = Math.random();
    cvChart.update();
  }, 1000);
</script>
</body>
</html>